@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: rgb(242, 246, 247);

    display: flex;
    justify-content: center;
    align-items: center;
}

#step-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 60pt;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.5pt;

    margin: 5vh;
}

h2 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18pt;
    text-align: center;
    /* letter-spacing: -.5pt; */
    font-weight: 400;

    z-index: 99999;
}

#litter-basket-crop {
    position: fixed;
    bottom: 0vh;

    width: 40vw;
    height: auto;
}

.trashes {
    width: 15vw;
    height: auto;
}

#cig-butt {
    position: absolute;
    top: 43vw;
    right: 80vw;
}

#banana-peel {
    position: absolute;
    top: 25vw;
    right:65vw;
}

#paper-ball-2 {
    position: absolute;
    top: 20vw;
    left: 42vw;
}

#apple-2 {
    position: absolute;
    top: 25vw;
    left: 65vw;
}

#can-2 {
    position: absolute;
    top: 40vw;
    left: 80vw;
}

#good-job-button {
    width: 130px;
    height: 38px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: transparent;

    font-size: 16pt;
    font-family: "Hanken Grotesk", sans-serif;
    /* letter-spacing: -1pt; */
    font-weight: 400;
}

#good-job-button:hover {
    border: 2px solid black;
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
    cursor: pointer;
}

/* step 2 */

#step-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#step-2-text-container {
    border: 2px solid black;
    
    width: 100vw;
    height: 7.5vh;

    overflow: hidden;

    display: flex;
    align-items: center;
}

#step-2-text {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 32pt;
    font-weight: 400;
    letter-spacing: -1pt;
    
    white-space: nowrap;

    /* sliding animation */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: sliding 15s linear infinite;
    -webkit-animation: sliding 15s linear infinite;
    animation: sliding 15s linear infinite;
}

@-webkit-keyframes sliding {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

@keyframes sliding {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
}

#litter-basket-up {
    width: 60vw;
    height: auto;

    position: relative;
    top: 3vh;

    z-index: 1;
}

.step-2-trashes {
    width: 25vw;
    height: auto;
}

#explanation {
    width: 35vw;
    height: auto;

    position: absolute;
    left: 20px;
    top: 80px;

    z-index: 0;

    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12pt;
    color: black;
    line-height: 180%;
}

#explanation:hover {
    color:rgb(36, 255, 0);
    z-index: 99999;
}

#step-2-cig-butt {
    position: absolute;
    top: 16vw;
    left: 18vw;
    transform: rotate(365deg);
    width: 50vw;
    height: auto;

    z-index: 2;
}

#step-2-banana-peel {
    position: absolute;
    top: 17vw;
    left: 47vw;
    transform: rotate();

    z-index: 2;
}

#step-2-paper-ball-2 {
    position: absolute;
    top: 21vw;
    left: 35vw;
    transform: rotate();

    z-index: 2;
}

#step-2-apple-2 {
    position: absolute;
    top: 20vw;
    left: 23vw;
    transform: rotate(40deg);

    z-index: 2;
}

#step-2-can-2 {
    position: absolute;
    top: 25vw;
    left: 48vw;
    transform: rotate(38deg);

    z-index: 2;
}

#step-2-cig-butt:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-banana-peel:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-paper-ball-2:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-apple-2:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-can-2:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}


#popup {
    position: absolute;
    bottom: 3vh;

    background-color: rgb(255, 255, 255, 0.75);
    border: 2px solid black;
    border-radius: 30px;
    width: 90vw;
    height: 85vh;

    z-index: 99999;
}

#info-popup {
    position: absolute;
    bottom: 3vh;

    background-color: rgb(255, 255, 255, 0.75);
    border: 2px solid black;
    border-radius: 30px;
    width: 90vw;
    height: 85vh;

    z-index: 99999;
}

#popup-content {
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 48pt;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1pt;
}

#info-popup-content {
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 28pt;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: -.7pt;
}

#info-contact {
    padding-top: 5.5vw;

    font-size: 32pt;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: -.7pt;
    color: black;
    text-decoration: none;
}

#info-contact:hover {
    cursor: pointer;
    color: black;
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
    text-decoration: underline;
}

#info-email {
    font-size: 32pt;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: -.7pt;
    color: black;
}

#info-email:hover{
    cursor: pointer;
    color: black;
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
    text-decoration: underline;
}

#embed-content {
    padding-top: 7.5vh;
    width: 50vw;
    height: 50vh;
}

#close {
    position: absolute;
    right: 13px;
    top: -1px;

    border: none;
    background-color: transparent;
    font-size: 3rem;
}

#info-close{
    position: absolute;
    right: 13px;
    top: -1px;

    border: none;
    background-color: transparent;
    font-size: 3rem;
}

#info-close:hover {
    color: black;
    cursor: pointer;
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
}

#close:hover {
    color: black;
    cursor: pointer;
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
}

#link-to-direction {
    position: absolute;
    right: 2vw;
    bottom: 2vh;

    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: black;

}

#link-to-direction:hover {
    color: black;
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
}

#list-icon {
    position: fixed;
    bottom: 10px;
    right: 2.5vh;
    margin: 0px;

    font-family: "Hanken Grotesk", sans-serif;
    font-size: 28pt;
    font-weight: 400;
    letter-spacing: -0.3pt;
}

#info {
    position: fixed;
    bottom: 10px;
    left: 4.5vh;
    margin: 0;

    font-family: "Hanken Grotesk", sans-serif;
    font-size: 35pt;
    font-weight: 400;
}

#info:hover {
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
    cursor: pointer;
    text-decoration: underline;
}

.address {
    margin: 0px;

    padding-left: 2vw;
    padding-right: 4vw;
    padding-top: 3vw;

    font-size: 48pt;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    letter-spacing: -0.5pt;


    border-bottom: 1px solid black;
}

#first-address:hover {
    cursor: url(cig-butt-cursor.png) 20 30, auto;
    filter: drop-shadow(0 0 0.2rem rgb(36, 255, 0));
}

#second-address:hover {
    cursor: url(banana-peel-cursor.png) 20 30, auto;
    filter: drop-shadow(0 0 0.2rem rgb(36, 255, 0));
}

#third-address:hover {
    cursor: url(paper-ball-2-cursor.png) 20 30, auto;
    filter: drop-shadow(0 0 0.2rem rgb(36, 255, 0));
}

#fourth-address:hover {
    cursor: url(apple-2-cursor.png) 20 30, auto;
    filter: drop-shadow(0 0 0.2rem rgb(36, 255, 0));
}

#fifth-address:hover {
    cursor: url(can-2-cursor.png) 20 30, auto;
    filter: drop-shadow(0 0 0.2rem rgb(36, 255, 0));
}

#original-icon {
    position: fixed;
    bottom: 10px;
    right: 2.5vh;
    margin: 0px;

    font-family: "Hanken Grotesk", sans-serif;
    font-size: 28pt;
    font-weight: 400;
    letter-spacing: -0.3pt;

    text-decoration: underline;
}

#list-icon:hover {
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
    cursor: pointer;
    text-decoration: underline;
}

#original-icon:hover {
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
    cursor: pointer;
}