@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body {
    background-color: rgb(242, 246, 247);

    display: flex;
    justify-content: center;
    align-items: center;
}

#step-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 64pt;
    letter-spacing: 1pt;
    text-align: center;
    font-weight: lighter;

    margin: 5vh;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 18pt;
    text-align: center;
    letter-spacing: -1pt;
    font-weight: 400;

    z-index: 99999;
}

#litter-basket-crop {
    position: fixed;
    bottom: 0vh;

    width: 40vw;
    height: auto;
}

.trashes {
    width: 15vw;
    height: auto;
}

#cig-butt {
    position: absolute;
    top: 43vw;
    right: 80vw;
}

#banana-peel {
    position: absolute;
    top: 25vw;
    right:65vw;
}

#paper-ball-2 {
    position: absolute;
    top: 20vw;
    left: 42vw;
}

#apple-2 {
    position: absolute;
    top: 25vw;
    left: 65vw;
}

#can-2 {
    position: absolute;
    top: 40vw;
    left: 80vw;
}

#good-job-button {
    width: 10vw;
    height: 3vw;
    border: 2px solid rgb(36, 255, 0, 0.75);
    border-radius: 30px;
    background-color: transparent;

    font-size: 16pt;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1pt;
    font-weight: 400;
}

#good-job-button:hover {
    filter: drop-shadow(0 0 0.3rem rgb(36, 255, 0));
}

/* step 2 */

#step-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#step-2-text-container {
    border: 2px solid black;
    
    width: 100vw;
    height: 7vh;

    overflow: hidden;

    display: flex;
    align-items: center;
}

#step-2-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    letter-spacing: -2pt;
    
    white-space: nowrap;

    /* sliding animation */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: sliding 15s linear infinite;
    -webkit-animation: sliding 15s linear infinite;
    animation: sliding 15s linear infinite;
}

@-webkit-keyframes sliding {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

@keyframes sliding {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
}

#litter-basket-up {
    width: 60vw;
    height: auto;

    position: relative;
    top: 3vh;

    z-index: 1;
}

.step-2-trashes {
    width: 25vw;
    height: auto;
}

#step-2-cig-butt {
    position: absolute;
    top: 38vw;
    left: 30vw;
    transform: rotate(365deg);

    z-index: 2;
}

#step-2-banana-peel {
    position: absolute;
    top: 17vw;
    left: 47vw;
    transform: rotate();

    z-index: 2;
}

#step-2-paper-ball-2 {
    position: absolute;
    top: 21vw;
    left: 35vw;
    transform: rotate();

    z-index: 2;
}

#step-2-apple-2 {
    position: absolute;
    top: 20vw;
    left: 23vw;
    transform: rotate(40deg);

    z-index: 2;
}

#step-2-can-2 {
    position: absolute;
    top: 25vw;
    left: 48vw;
    transform: rotate(38deg);

    z-index: 2;
}

#step-2-cig-butt:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-banana-peel:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-paper-ball-2:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-apple-2:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}
#step-2-can-2:hover {
    z-index: 9999;
    filter: drop-shadow(0 0 3rem rgb(36, 255, 0));
}


#popup {
    position: absolute;
    bottom: 3vh;

    background-color:rgb(36, 255, 0, 0.75);
    width: 90vw;
    height: 85vh;

    z-index: 99999;
}

#popup-content {
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 58pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1pt;
}

#embed-content {
    padding-top: 5vh;
    width: 50vw;
    height: 50vh;
}

#close {
    position: absolute;
    right: 0px;
    top: -15px;

    border: none;
    background-color: transparent;
    font-size: 3rem;
}

#close:hover {
    color: white;
    cursor: pointer;
}

#link-to-direction {
    position: absolute;
    right: 2vw;
    bottom: 2vh;

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -0.5pt;
    color: black;

}

#link-to-direction:hover {
    color: white;
}

#list-icon {
    position: absolute;
    bottom: 1vw;
    right: 3vh;

    width: 10vh;
    height: auto;
}

.address {
    padding-left: 2vw;
    padding-top: 2vw;

    font-size: 32pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    letter-spacing: -0.5pt;
}

.address:hover {
    filter: drop-shadow(0 0 0.2rem rgb(36, 255, 0));
    cursor: pointer;
}

#original-icon {
    position: absolute;
    bottom: 1vw;
    right: 3vh;

    width: 10vh;
    height: auto;
}